In [68]:
import pandas as pd
from scipy import stats as st
import numpy as np

In [71]:
data = pd.read_csv('/Users/liviaalmada/NYDataset/Link Level Traffic Estimates/link-5-10-15-10', delimiter=';', header=None)

In [72]:
data.head()

,0,1,2,3,4,5,6,7
0,0,0,False,false,"LINESTRING(-74.021807 40.884127, -74.021994 40...",,-1.0,-1.0
1,0,1,False,false,"LINESTRING(-73.932264 40.64195, -73.932013 40....",,-1.0,-1.0
2,0,2,False,false,"LINESTRING(-73.932264 40.64195, -73.932509 40....",,-1.0,-1.0
3,0,3,False,false,"LINESTRING(-74.142573 40.948839, -74.143464 40...",,-1.0,-1.0
4,0,4,False,false,"LINESTRING(-73.844794 40.877882, -73.845749 40...",,-1.0,-1.0

In [73]:
d = data[data[6]>=0]

In [74]:
d = d[d[6]>=0]
d.head()

,0,1,2,3,4,5,6,7
26,0,32,False,true,"LINESTRING(-73.917419 40.660051, -73.918294 40...",,15.21610,0.00000
39,0,45,False,true,"LINESTRING(-73.882107 40.681217, -73.881155 40...",,11.98050,0.00000
50,0,57,False,true,"LINESTRING(-73.918294 40.659484, -73.919089 40...",,14.27695,0.41975
68,0,76,False,true,"LINESTRING(-73.919089 40.658966, -73.919968 40...",,15.26790,0.00000
79,0,88,False,true,"LINESTRING(-73.919968 40.658398, -73.919089 40...",,10.15460,0.00000

In [75]:
d1 = d[d[0]==3]
d1 = d1.get_values()
d1.size

480

In [20]:
for i in range(0,len(d1)):
    for j in range(0,len(d1)):
        if(i!=j):        
            x = st.kstest(st.norm.rvs(size=100, loc=d1[i,6], scale=d1[i,7]),"norm", args=(d1[j,6],d1[j,7]))
            print(i, j, x.statistic)

0 1 0.367924752927
0 2 0.187021740081
0 3 0.534305415361
0 4 0.17601895493
0 5 0.230478564273
1 0 0.261683463935
1 2 0.237350825244
1 3 0.615496927022
1 4 0.172203654987
1 5 0.327446012625
2 0 0.161660687843
2 1 0.171497196503
2 3 0.518780666581
2 4 0.0844136673868
2 5 0.236647812949
3 0 0.503928052551
3 1 0.606727065491
3 2 0.590378764975
3 4 0.573484990279
3 5 0.659697583002
4 0 0.128915835995
4 1 0.225385644153
4 2 0.0869728900141
4 3 0.567232307837
4 5 0.291142064146
5 0 0.153639612123
5 1 0.346670606083
5 2 0.204858707946
5 3 0.717224494605
5 4 0.155216694033

In [24]:
def compactness(cluster):
    n = 1
    x = 0
    print(len(cluster))
    for i in range(0,len(cluster)):
        for j in range(0,len(cluster)):
            if(i!=j):       
                stat = st.kstest(st.norm.rvs(size=100, loc=cluster[i,6], scale=cluster[i,7]),"norm", args=(cluster[j,6],cluster[j,7]))
                x = x + stat.statistic 
                
    return x/(len(cluster)*(len(cluster)-1)*2)

In [67]:
c = d[d[0]==9].get_values()
compactness(c)

16

0.15942472518485157

In [30]:
def separation(cluster1, cluster2):
    n = 0
    x = 0
    for i in range(0,len(cluster1)):
        for j in range(0,len(cluster2)):
            stat = st.kstest(st.norm.rvs(size=100, loc=cluster1[i,6], scale=cluster1[i,7]),"norm", args=(cluster2[j,6],cluster2[j,7]))
            x = x + stat.statistic 
            n=n+1
    return x/n

In [37]:
c1 = d[d[0]==2].get_values()
c2 = d[d[0]==5].get_values()
print(c1.size)
print(c2.size)

80
88

In [59]:
#d.groupby(d[0])[0].agg(['count', 'min', 'max'])

In [ ]:
separation(c1,c2)

In [12]:
def compactness_mean(clusters):
    sum_comp = 0
    for c in clusters:
        compac = compactness(c)
        sum_comp = sum_comp + compac
      
    return sum_comp / len(clusters)

In [20]:
cls = d

In [21]:
len(c)

96

In [61]:
clusters = list()
c = np.unique(d[0].get_values())
for cluster in c:
    if (cluster > 0):
        clusterl = d[d[0]==cluster].get_values()
        if(len(clusterl)>1):
            clusters.append(clusterl)

In [64]:
clusters[1].size

80

In [ ]:
compactness_mean(clusters)

31232

In [23]:
def separation_mean(clusters):
    sum_comp = 0
    for c1 in range(0,len(clusters)):
        for c2 in range(0,len(clusters)):
            if(c1!=c2):
                sum_comp = sum_comp + separation(clusters[c1],clusters[c2])
    return sum_comp / (len(clusters)*(len(clusters)-1))

In [ ]:
separation_mean(clusters)