In [1]:
import pandas as pd

In [3]:
graphnodes = pd.read_csv("/Users/liviaalmada/NYDataset/Link Level Traffic Estimates/nodes.csv")

In [4]:
graphlinks = pd.read_csv("/Users/liviaalmada/NYDataset/Link Level Traffic Estimates/links.csv")

In [5]:
graphnodes.head()

,node_id,is_complete,num_in_links,num_out_links,osm_traffic_controller,xcoord,ycoord,osm_changeset,birth_timestamp,death_timestamp,grid_region_id
0,42467266,t,3,3,null,-73.917419,40.660051,3218174,1405267167641,40000000000000,225
1,42467262,t,4,4,null,-73.918294,40.659484,3218174,1405267167641,40000000000000,225
2,42467259,t,3,3,null,-73.919089,40.658966,3218174,1405267167641,40000000000000,205
3,42467258,t,3,3,null,-73.919968,40.658398,3218174,1405267167641,40000000000000,205
4,42467250,t,2,2,null,-74.005260,40.600091,7948780,1405267167641,40000000000000,143

In [6]:
graphlinks.head()

,link_id,begin_node_id,end_node_id,begin_angle,end_angle,street_length,osm_name,osm_class,osm_way_id,startX,startY,endX,endY,osm_changeset,birth_timestamp,death_timestamp
0,1,103235840,103225947,-161.51,16.99,84.295,PalisadeAvenue,tertiary,223694294,-74.021807,40.884127,-74.021994,40.883384,16353009,1405267167641,40000000000000
1,2,42516422,42516427,175.46,-4.68,260.392,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932013,40.639616,19443546,1405267167641,40000000000000
2,3,42516422,42516418,-4.60,175.40,256.804,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932509,40.644252,19443546,1405267167641,40000000000000
3,4,103235530,103235525,-103.43,82.40,76.107,HarristownRoad,tertiary,11580026,-74.142573,40.948839,-74.143464,40.948718,14802365,1405267167641,40000000000000
4,5,42762376,42756156,-23.92,156.25,197.829,KingslandAvenue,residential,5698286,-73.844794,40.877882,-73.845749,40.879508,8219326,1405267167641,40000000000000