In [32]:
import pandas as pd
from py4j.java_gateway import JavaGateway
import psycopg2

In [33]:
home = "/Users/liviaalmada/NYDataset/Link Level Traffic Estimates/"
home = "/media/livia/DATA/Dropbox/TRABALHO/PESQUISA/Doutorado/Dados/NY-Data/"

In [34]:
graphnodes = pd.read_csv(home+"nodes.csv")

In [35]:
graphlinks = pd.read_csv(home+"/links.csv", delimiter=',')

In [36]:
graphnodes.head()

,node_id,is_complete,num_in_links,num_out_links,osm_traffic_controller,xcoord,ycoord,osm_changeset,birth_timestamp,death_timestamp,grid_region_id
0,42467266,t,3,3,null,-73.917419,40.660051,3218174,1405267167641,40000000000000,225
1,42467262,t,4,4,null,-73.918294,40.659484,3218174,1405267167641,40000000000000,225
2,42467259,t,3,3,null,-73.919089,40.658966,3218174,1405267167641,40000000000000,205
3,42467258,t,3,3,null,-73.919968,40.658398,3218174,1405267167641,40000000000000,205
4,42467250,t,2,2,null,-74.005260,40.600091,7948780,1405267167641,40000000000000,143

In [37]:
graphlinks.head()

,link_id,begin_node_id,end_node_id,begin_angle,end_angle,street_length,osm_name,osm_class,osm_way_id,startX,startY,endX,endY,osm_changeset,birth_timestamp,death_timestamp
0,1,103235840,103225947,-161.51,16.99,84.295,PalisadeAvenue,tertiary,223694294,-74.021807,40.884127,-74.021994,40.883384,16353009,1405267167641,40000000000000
1,2,42516422,42516427,175.46,-4.68,260.392,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932013,40.639616,19443546,1405267167641,40000000000000
2,3,42516422,42516418,-4.60,175.40,256.804,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932509,40.644252,19443546,1405267167641,40000000000000
3,4,103235530,103235525,-103.43,82.40,76.107,HarristownRoad,tertiary,11580026,-74.142573,40.948839,-74.143464,40.948718,14802365,1405267167641,40000000000000
4,5,42762376,42756156,-23.92,156.25,197.829,KingslandAvenue,residential,5698286,-73.844794,40.877882,-73.845749,40.879508,8219326,1405267167641,40000000000000

### Create Graph

In [78]:
gateway = JavaGateway()

In [79]:
gateway.newGraph("ny", home+"graph")

In [80]:
graph = gateway.getGraph("ny");

In [64]:
nodesMap = { }

In [81]:
idn = 0
for n in graphnodes.values:
    gateway.addNode(n[0], n[5], n[6])
    nodesMap[n[0]] = idn
    idn = idn + 1

In [82]:
graph.getNumberOfNodes()

95581

In [48]:
print(nodesMap.get(105398165))

None

In [83]:
nodesMap = dict()
idn = 0
for (idx, row) in graphlinks.iterrows():
    
    if(nodesMap.get(row['begin_node_id']) is None):
        gateway.addNode( row['begin_node_id'] , row['startX'] , row['startY'])
        nodesMap[row['begin_node_id']] = idn
        idn = idn + 1
    if(nodesMap.get(row['end_node_id']) is None):
        gateway.addNode( row['end_node_id'] , row['endX'] , row['endY'])
        nodesMap[row['end_node_id']] = idn
        idn = idn + 1
    gateway.addEdge(nodesMap.get(row['begin_node_id']), nodesMap.get(row['end_node_id']), row['street_length'])

In [85]:
graph.getNumberOfEdges()

260855

In [86]:
graph.getNumberOfNodes()

192151

In [87]:
graphcosts = pd.read_csv(home+"/links.csv", delimiter=',')

In [88]:
graphcosts.head()

,link_id,begin_node_id,end_node_id,begin_angle,end_angle,street_length,osm_name,osm_class,osm_way_id,startX,startY,endX,endY,osm_changeset,birth_timestamp,death_timestamp
0,1,103235840,103225947,-161.51,16.99,84.295,PalisadeAvenue,tertiary,223694294,-74.021807,40.884127,-74.021994,40.883384,16353009,1405267167641,40000000000000
1,2,42516422,42516427,175.46,-4.68,260.392,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932013,40.639616,19443546,1405267167641,40000000000000
2,3,42516422,42516418,-4.60,175.40,256.804,SchenectadyAvenue,residential,5679907,-73.932264,40.641950,-73.932509,40.644252,19443546,1405267167641,40000000000000
3,4,103235530,103235525,-103.43,82.40,76.107,HarristownRoad,tertiary,11580026,-74.142573,40.948839,-74.143464,40.948718,14802365,1405267167641,40000000000000
4,5,42762376,42756156,-23.92,156.25,197.829,KingslandAvenue,residential,5698286,-73.844794,40.877882,-73.845749,40.879508,8219326,1405267167641,40000000000000

In [53]:
grouped = graphcosts.groupby('begin_node_id')

In [54]:
grouped.ngroups

96435

## Generate graph costs

In [89]:
conn = psycopg2.connect(host="localhost", database="newyork", user="postgres")

In [90]:
curs = conn.cursor()

In [91]:
curs.execute("select * from gaussian_tt where weekday = 0 limit 100")

In [92]:
costs = curs.fetchall()

In [76]:
costs

[(0, 0, 0, 0.0, 6.75443325581395, 0, 3.62320745223019, 5.16117, 30.0, None),
 (0, 0, 0, 1.0, 7.94172093023256, 0, 4.90570495625238, 4.26861, 30.0, None),
 (0, 0, 0, 2.0, 7.98333046511628, 0, 3.42517712754407, 5.83561, 30.0, None),
 (0, 0, 0, 3.0, 8.94469627906977, 0, 4.66846809537856, 6.51491, 30.0, None),
 (0, 0, 0, 4.0, 8.64578162790698, 0, 0.460042202411547, 7.23471, 10.299, None),
 (0, 0, 0, 5.0, 10.6746609302326, 0, 3.02276369607222, 9.18258, 30.0, None),
 (0, 0, 0, 6.0, 11.6690397674419, 0, 2.87509199249427, 9.71831, 30.0, None),
 (0, 0, 0, 7.0, 10.7001141860465, 0, 0.453173571651, 9.28077, 11.8399, None),
 (0, 0, 0, 8.0, 10.0533413953488, 0, 3.12173120003209, 8.21407, 30.0, None),
 (0, 0, 0, 9.0, 9.0162219047619, 0, 3.30743580389936, 7.12906, 30.0, None),
 (0, 0, 0, 10.0, 8.41105046511628, 0, 3.93138094906834, 6.55898, 30.0, None),
 (0,
  0,
  0,
  11.0,
  7.00311348837209,
  0,
  0.572090339198362,
  4.65651,
  8.17966,
  None),
 (0, 0, 0, 12.0, 7.16052534883721, 0, 3.56204177976122, 5.78463, 30.0, None),
 (0,
  0,
  0,
  13.0,
  6.35854697674419,
  0,
  0.463378722481937,
  5.49752,
  7.75423,
  None),
 (0,
  0,
  0,
  14.0,
  6.23869302325582,
  0,
  0.532277594168338,
  4.46478,
  7.61549,
  None),
 (0,
  0,
  0,
  15.0,
  6.37894348837209,
  0,
  0.687446564718799,
  4.30345,
  8.1361,
  None),
 (0, 0, 0, 16.0, 7.5468776744186, 0, 5.00300224441789, 3.83562, 30.0, None),
 (0,
  0,
  0,
  17.0,
  6.3782888372093,
  0,
  0.631525121849133,
  3.73075,
  7.39821,
  None),
 (0, 0, 0, 18.0, 7.00609837209302, 0, 3.62116664202519, 3.71347, 30.0, None),
 (0, 0, 0, 19.0, 8.31962465116279, 0, 5.97385164174219, 3.75534, 30.0, None),
 (0,
  0,
  0,
  20.0,
  7.2267923255814,
  0,
  0.768192791462572,
  3.71886,
  9.00145,
  None),
 (0, 0, 0, 21.0, 8.12248139534884, 0, 3.47929833150947, 3.41497, 30.0, None),
 (0,
  0,
  0,
  22.0,
  7.95782837209302,
  0,
  0.900413368839987,
  3.5568,
  9.12516,
  None),
 (0, 0, 0, 23.0, 8.96314744186047, 0, 3.44845288989613, 3.59604, 30.0, None),
 (42421728,
  42421731,
  0,
  0.0,
  29.2340708333333,
  307,
  12.2130202617766,
  13.0625,
  61.8458,
  None),
 (42421728,
  42421731,
  0,
  1.0,
  29.2190733333333,
  90,
  15.5894640257437,
  11.4261,
  74.6669,
  None),
 (42421728,
  42421731,
  0,
  2.0,
  24.9455734782609,
  245,
  13.6831009891197,
  4.92686,
  56.6176,
  None),
 (42421728,
  42421731,
  0,
  3.0,
  26.8643666666667,
  301,
  15.362794654735,
  11.5518,
  64.2884,
  None),
 (42421728,
  42421731,
  0,
  4.0,
  21.2376775,
  140,
  6.66165366131742,
  7.69224,
  32.5122,
  None),
 (42421728,
  42421731,
  0,
  5.0,
  25.6167964,
  122,
  19.7371788147889,
  4.5941,
  85.894,
  None),
 (42421728,
  42421731,
  0,
  6.0,
  17.8204385,
  114,
  9.82056517095948,
  4.5941,
  39.7011,
  None),
 (42421728,
  42421731,
  0,
  7.0,
  20.8674557894737,
  71,
  9.94771926074849,
  7.88683,
  42.7237,
  None),
 (42421728,
  42421731,
  0,
  8.0,
  23.6180142857143,
  103,
  13.4206258308863,
  4.5941,
  56.0973,
  None),
 (42421728,
  42421731,
  0,
  9.0,
  30.2520967741935,
  220,
  13.9256408857785,
  4.5941,
  58.6492,
  None),
 (42421728,
  42421731,
  0,
  10.0,
  31.5452595454545,
  132,
  14.9290839226295,
  8.58241,
  77.2685,
  None),
 (42421728,
  42421731,
  0,
  11.0,
  28.969168,
  357,
  11.2229418623717,
  14.2821,
  59.0232,
  None),
 (42421728,
  42421731,
  0,
  12.0,
  30.2013826086957,
  186,
  11.6543178756785,
  8.56299,
  55.9075,
  None),
 (42421728,
  42421731,
  0,
  13.0,
  35.78686625,
  206,
  15.8734310550717,
  7.79139,
  66.3842,
  None),
 (42421728,
  42421731,
  0,
  14.0,
  26.4413173913043,
  302,
  8.45118522635332,
  15.5931,
  53.7886,
  None),
 (42421728,
  42421731,
  0,
  15.0,
  33.1927222222222,
  331,
  12.209105245383,
  12.1389,
  61.6739,
  None),
 (42421728,
  42421731,
  0,
  16.0,
  26.063795,
  378,
  15.6803214268546,
  11.9286,
  79.6145,
  None),
 (42421728,
  42421731,
  0,
  17.0,
  27.1513444444444,
  188,
  13.6615577650176,
  11.7642,
  69.3811,
  None),
 (42421728,
  42421731,
  0,
  18.0,
  30.6850863636364,
  317,
  15.8056660885581,
  10.4446,
  68.1685,
  None),
 (42421728,
  42421731,
  0,
  19.0,
  28.3299504,
  372,
  11.5557014365587,
  8.47606,
  51.3725,
  None),
 (42421728,
  42421731,
  0,
  20.0,
  30.0257056,
  241,
  13.1960710774121,
  9.27314,
  65.2075,
  None),
 (42421728,
  42421731,
  0,
  21.0,
  30.6124415384615,
  234,
  20.8790394690383,
  7.24026,
  85.0681,
  None),
 (42421728,
  42421731,
  0,
  22.0,
  26.224355483871,
  338,
  13.6721592270015,
  7.30202,
  66.9586,
  None),
 (42421728,
  42421731,
  0,
  23.0,
  29.8464033333333,
  250,
  19.2214028649729,
  8.89158,
  82.932,
  None),
 (42421728,
  42432736,
  0,
  0.0,
  13.3810258139535,
  3554,
  2.90857729198125,
  6.94931,
  19.8907,
  None),
 (42421728,
  42432736,
  0,
  1.0,
  12.7909951162791,
  3898,
  3.53491478684529,
  7.14163,
  22.7784,
  None),
 (42421728,
  42432736,
  0,
  2.0,
  12.7808909302326,
  3022,
  2.98872404724033,
  6.66925,
  20.5814,
  None),
 (42421728,
  42432736,
  0,
  3.0,
  12.1149416666667,
  2992,
  2.89220049286082,
  7.58194,
  20.4274,
  None),
 (42421728,
  42432736,
  0,
  4.0,
  11.8882285714286,
  2168,
  3.7157650882503,
  6.13355,
  31.2162,
  None),
 (42421728,
  42432736,
  0,
  5.0,
  14.546924,
  728,
  10.3106901774951,
  2.8659,
  62.866,
  None),
 (42421728,
  42432736,
  0,
  6.0,
  12.9250584210526,
  612,
  6.71647649877152,
  4.31979,
  39.7042,
  None),
 (42421728,
  42432736,
  0,
  7.0,
  13.3417997222222,
  684,
  3.94393081892396,
  2.98288,
  25.9971,
  None),
 (42421728,
  42432736,
  0,
  8.0,
  16.370129,
  1217,
  9.01289024061644,
  7.32884,
  65.4839,
  None),
 (42421728,
  42432736,
  0,
  9.0,
  17.4890987804878,
  1194,
  9.56683523167715,
  9.3082,
  50.1465,
  None),
 (42421728,
  42432736,
  0,
  10.0,
  15.7519592857143,
  2273,
  7.20019310684969,
  7.58581,
  51.2744,
  None),
 (42421728,
  42432736,
  0,
  11.0,
  15.6378786046512,
  2151,
  13.9514525970522,
  7.05186,
  102.421,
  None),
 (42421728,
  42432736,
  0,
  12.0,
  16.7167917073171,
  1813,
  14.9606293178848,
  5.29458,
  108.391,
  None),
 (42421728,
  42432736,
  0,
  13.0,
  15.2923385714286,
  1846,
  4.44297779758905,
  6.52303,
  28.4647,
  None),
 (42421728,
  42432736,
  0,
  14.0,
  15.7308362790698,
  1905,
  6.76594522216964,
  8.86458,
  44.1665,
  None),
 (42421728,
  42432736,
  0,
  15.0,
  16.8702773170732,
  1862,
  15.530608628003,
  6.6657,
  108.772,
  None),
 (42421728,
  42432736,
  0,
  16.0,
  15.1346288095238,
  1660,
  4.48875403260733,
  2.8659,
  28.5524,
  None),
 (42421728,
  42432736,
  0,
  17.0,
  15.1691144186046,
  2211,
  4.88956558843103,
  6.30893,
  28.5224,
  None),
 (42421728,
  42432736,
  0,
  18.0,
  14.4739944186046,
  1775,
  3.85917158048643,
  7.23986,
  25.6473,
  None),
 (42421728,
  42432736,
  0,
  19.0,
  13.9669123255814,
  1784,
  3.33596360851394,
  7.52508,
  23.6087,
  None),
 (42421728,
  42432736,
  0,
  20.0,
  13.312548372093,
  1495,
  2.61431564664941,
  8.72863,
  21.0281,
  None),
 (42421728,
  42432736,
  0,
  21.0,
  13.7395439534884,
  1560,
  4.89648186556531,
  7.95978,
  30.2118,
  None),
 (42421728,
  42432736,
  0,
  22.0,
  13.9935076744186,
  1880,
  4.85241863887308,
  7.94907,
  34.8085,
  None),
 (42421728,
  42432736,
  0,
  23.0,
  12.7554961904762,
  1479,
  3.41783954768767,
  2.8659,
  20.3283,
  None),
 (42421728,
  42435337,
  0,
  0.0,
  14.862005,
  729,
  8.39272738457202,
  4.50705,
  39.4121,
  None),
 (42421728,
  42435337,
  0,
  1.0,
  15.9916108333333,
  352,
  12.4375757610437,
  5.22719,
  69.0128,
  None),
 (42421728,
  42435337,
  0,
  2.0,
  11.1656295833333,
  357,
  5.12868287399851,
  4.43195,
  24.2475,
  None),
 (42421728,
  42435337,
  0,
  3.0,
  11.7357136,
  318,
  5.19666078555056,
  3.86908,
  24.4521,
  None),
 (42421728,
  42435337,
  0,
  4.0,
  14.0802506666667,
  219,
  13.1210557761899,
  2.85193,
  74.2097,
  None),
 (42421728,
  42435337,
  0,
  5.0,
  14.9097045,
  130,
  10.1210590641358,
  5.21753,
  50.1663,
  None),
 (42421728,
  42435337,
  0,
  6.0,
  9.79596862068966,
  260,
  3.49438045037607,
  2.85193,
  17.7638,
  None),
 (42421728,
  42435337,
  0,
  7.0,
  14.0420073529412,
  276,
  8.24902213821711,
  4.31833,
  42.6281,
  None),
 (42421728,
  42435337,
  0,
  8.0,
  13.2247557575758,
  286,
  9.32488522105819,
  2.85193,
  46.6983,
  None),
 (42421728,
  42435337,
  0,
  9.0,
  10.3941914705882,
  472,
  4.42469886790258,
  3.20348,
  22.8339,
  None),
 (42421728,
  42435337,
  0,
  10.0,
  14.9654695121951,
  518,
  10.9865084090507,
  3.19039,
  70.5148,
  None),
 (42421728,
  42435337,
  0,
  11.0,
  13.4938702857143,
  551,
  4.58100930587166,
  4.53164,
  27.3603,
  None),
 (42421728,
  42435337,
  0,
  12.0,
  17.5020053846154,
  781,
  15.1360337318141,
  6.49569,
  84.243,
  None),
 (42421728,
  42435337,
  0,
  13.0,
  15.8588668292683,
  598,
  9.20334868844883,
  4.33744,
  58.4957,
  None),
 (42421728,
  42435337,
  0,
  14.0,
  13.0685378378378,
  604,
  5.79960127704419,
  3.14742,
  27.7196,
  None),
 (42421728,
  42435337,
  0,
  15.0,
  15.3887730769231,
  620,
  10.3718266353415,
  2.85193,
  51.8838,
  None),
 (42421728,
  42435337,
  0,
  16.0,
  15.5399594444444,
  489,
  9.64244177238979,
  3.44881,
  47.7156,
  None),
 (42421728,
  42435337,
  0,
  17.0,
  20.4856517948718,
  501,
  16.6846882743107,
  5.51012,
  88.4583,
  None),
 (42421728,
  42435337,
  0,
  18.0,
  17.4190765714286,
  549,
  13.2433475294415,
  5.82213,
  70.1489,
  None),
 (42421728,
  42435337,
  0,
  19.0,
  14.1724505,
  381,
  10.0970016165053,
  3.26069,
  56.59,
  None),
 (42421728,
  42435337,
  0,
  20.0,
  14.9321590625,
  387,
  11.0133122636469,
  4.62313,
  62.645,
  None),
 (42421728,
  42435337,
  0,
  21.0,
  15.0580238888889,
  355,
  8.01310754549218,
  4.85559,
  34.5624,
  None),
 (42421728,
  42435337,
  0,
  22.0,
  17.0974974285714,
  367,
  14.8536991166242,
  4.56924,
  92.1371,
  None),
 (42421728,
  42435337,
  0,
  23.0,
  17.1923052941176,
  359,
  12.3318773344079,
  2.85193,
  59.2028,
  None),
 (42421731,
  42421728,
  0,
  0.0,
  37.6375814814815,
  400,
  15.2341480710651,
  10.4696,
  65.124,
  None),
 (42421731,
  42421728,
  0,
  1.0,
  36.9159333333333,
  212,
  16.0589536254874,
  17.7774,
  75.4846,
  None),
 (42421731,
  42421728,
  0,
  2.0,
  30.1886333333333,
  294,
  11.1081418126776,
  12.0254,
  53.0246,
  None),
 (42421731,
  42421728,
  0,
  3.0,
  29.3674580645161,
  277,
  14.2216389095194,
  10.2874,
  74.7597,
  None)]

In [94]:
for cost in costs:
   gateway.addGaussianCost(nodesMap.get(cost[0]),nodesMap.get(cost[1]),cost[4], cost[6], cost[0])

Py4JError: An error occurred while calling t.addGaussianCost. Trace:
py4j.Py4JException: Method addGaussianCost([null, null, class java.lang.Double, class java.lang.Double, class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:272)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)